@import "tailwindcss";

@theme {
  --color-primary: #3498db;
}
.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}

/* #region Modal açıldığında owerflow yapılmasını engellemek için, ekleyip siliyoruz modallarda */
.self-overflow-hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
  -ms-touch-action: none;

  @media (min-width: 1024px) {
    overflow: initial;
    -webkit-overflow-scrolling: initial;
    touch-action: initial;
    -ms-touch-action: initial;
  }
}
/* #endregion Modal açıldığında owerflow yapılmasını engellemek için, ekleyip siliyoruz modallarda */
